/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~@angular/material/theming';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';

@import '~bootstrap/scss/variables';

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

html, body { overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', serif !important;
  background: black;
  background-image: black;
}

span, p, h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif !important;
}

.cal-month-view .cal-header:hover {
  background-color: rgba(0,0,0,0) !important;
}

.cal-day-number{
  color:white !important;
  font-weight: 700 !important;
}

.cal-today {
  background-color: gray !important;
}

@include mat-core();

.mat-form-field.mat-form-field {
  width           : 100%;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.cal-month-view .cal-header .cal-cell{
  background-color: inherit !important;
}

.cal-month-view .cal-days .cal-cell-row {
  background-color: inherit !important;
}

.cal-month-view .cal-header .cal-cell {
  color: white !important;
  font-weight: 800 !important;
}

.cal-month-view .cal-day-cell:hover {
  background-color: #B9261A !important;
}

.cal-month-view .cal-day-free:hover {
  background-color: white !important;
}

.cal-month-view .cal-day-half:hover {
  background-color: white !important;
}

.cal-month-view .cal-day-full:hover {
  background-color: white !important;
}

.error {
  background-color: #B9261A;
  color: white;
  border-color: #B9261A;
}

$custom-typography: mat-typography-config(
    $font-family: 'PT Sans'
);

@include mat-core($custom-typography);

$primary: mat-palette($mat-red, A700);
$accent: mat-palette($mat-orange,200);

$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);

@include media-breakpoint-up(xs) {
  .tittle-banner {
    font-size: 1rem !important;
  }
  .tittle-button {
    font-size: 1.5rem !important;
  }
  .instructions-tittle {
    margin-bottom: 15px !important;
  }
  .icons-row {
    margin-bottom: 20px;
  }
  .img-res {
    height: 30px;
    width: 30px;
  }
  .mat-checkbox-layout {
    font-size: .6rem !important;
  }
  .cal-day-number{    
    font-size: 18px !important;
  }
}

@include media-breakpoint-up(sm) {
  .tittle-banner {
    font-size: 1.2rem !important;
  }
  .tittle-button {
    font-size: 1.8rem !important;
  }
  .instructions-tittle {
    margin-bottom: 22px !important;
  }
  .icons-row {
    margin-bottom: 38px;
  }
  .img-res {
    height: 40px;
    width: 40px;
  }
  .mat-checkbox-layout {
    font-size: .8rem !important;
  }
  .cal-day-number{    
    font-size: 23px !important;
  }
}

@include media-breakpoint-up(md) {
  .tittle-banner {
    font-size: 1.5rem !important;
  }
  .tittle-button {
    font-size: 2.1rem !important;
  }
  .instructions-tittle {
    margin-bottom: 35px !important;
  }
  .icons-row {
    margin-bottom: 40px;
  }
  .img-res {
    height: 60px;
    width: 60px;
  }
  .mat-checkbox-layout {
    font-size: 1rem !important;
  }
  .cal-day-number{    
    font-size: 28px !important;
  }
}

@include media-breakpoint-up(lg) {
  .tittle-banner {
    font-size: 2rem !important;
  }
  .tittle-button {
    font-size: 2.5rem !important;
  }
  .instructions-tittle {
    margin-bottom: 40px !important;
  }
  .icons-row {
    margin-bottom: 50px;
  }
  .img-res {
    height: 80px;
    width: 80px;
  }
  .mat-checkbox-layout {
    font-size: 1rem !important;
  }
  .cal-day-number{    
    font-size: 36px !important;
  }
}

.mat-input-element {
  color: white !important;
}

.mat-checkbox-label {
  color: white !important;
}


// #D92F20 primary
// #91190f danger
