.position {
  min-height: 105px;
  min-height: 105px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-background {
  background-color: #B9261A;
  padding-top:5px;
  padding-bottom:5px;
}

.tittle-banner {
  font-style: italic;
  font-weight: 700;
  padding: 5px;
  color: white;
  margin-bottom: 0px;
  text-align: center;
}

.row-data {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pay-method {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}