<div class="container-fluid ">
  <span class="h4"> ¿Seguro que quieres borrar el turno?</span>

  <br>
  <br>
  <div class="row justify-content-md-end justify-content-sm-center">
      <div class="col-md-4 col-sm-10" style="padding-top:5px;">
          <button mat-raised-button class="btn-block" color="primary" mat-dialog-close> Cancelar</button>
        </div>
			<div class="col-md-4 col-sm-10" style="padding-top:5px;">
				<button mat-raised-button class="btn-block" color="primary" (click)="deleteTurn()"> Borrar turno </button>
			</div>
		</div>
</div>
