.background {
  background-color: black;
  height: 100%;
}

.error {
  background-color: #B9261A;
  color: white;
  border-color: #B9261A;
}

.form {
  margin-top:25px;
  margin-bottom:25px;
}

.banner-background {
  background-color: #B9261A;
  padding-top:5px;
  padding-bottom:5px;
}

.tittle-banner {
  font-style: italic;
  font-weight: 700;
  padding: 5px;
  color: white;
  margin-bottom: 0px;
  text-align: center;
}

.empty-data {
  color: gray;
  font-size:.8rem !important;
  font-weight: 500;
  font-style: italic;
  padding: 5px;
  margin-bottom: 0px;
  text-align: center;
}

.tittle-data {
  font-style: italic;
  font-weight: 700;
  padding: 5px;
  color: gray;
  margin-bottom: 0px;
  text-align: center;
}

.item-list {
  border-bottom: 1px gray solid;
}

.helmet {
  padding-top:15px;
  padding-bottom:15px;
  vertical-align: middle !important;
}

.helmet-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.col-pad {
  padding-top: 10px;
  padding-bottom: 5px;
}

.mat-form-field{
  padding-top:5px;
  padding-bottom:5px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}