<div>
  <form [formGroup]="reservation" (ngSubmit)="sendPilots()">

    <!-- start tittle banner -->
    <div class="row justify-content-center banner-background">
      <div class="col-11 col-sm-8 col-md-5 text-center">
        <span class="tittle-banner">1. Selecciona a tus pilotos</span>
      </div>
    </div>
    <!-- end title banner -->

    <!-- start pilot list -->
    <div class="row">
      <div class="col">
        <div class="container form">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-10" #scrollList>
              <div class="container">

                <div class="row justify-content-center" style="padding-bottom:0px;">
                  <div class="col-11 col-sm-10 text-center">
                    <mat-form-field>
                      <mat-select  placeholder="Tipo de grupo" formControlName="type" name="type">
                        <mat-option [value]="'Niños'">Niño (6 - 11 años)</mat-option>
                        <mat-option [value]="'Adultos'">Adulto (mayor a 12 años)</mat-option>
                      </mat-select>
                      <mat-error *ngIf="reservation.controls.type.hasError('required')">El tipo de grupo es necesario</mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <!-- start add pilot button -->
                <div *ngIf="reservation.controls.type.value" class="row justify-content-center item-list">
                  <div class="col-11 col-sm-10 text-center" *ngIf="numbers.length > 0">
                    <a (click)="addPilot()">
                      <img class="img-fluid img-res" src="../assets/button-plus.png" />
                      <span class="tittle-banner">Agregar piloto</span>
                    </a>
                  </div>
                </div>
                <!-- end add pilot button -->

                  <br *ngIf="error.show">

                  <div class="alert alert-danger error" role="alert" *ngIf="error.show">
                    {{error.text}}
                  </div>

                <div>
                  <!-- start pilot info -->
                  <div class="item-list" formArrayName="pilots" *ngFor="let pilot of getFormData().controls; let i = index;">
                    <div class="row justify-content-center">
                      <div class="col-3 text-right" style="white-space: nowrap !important;">
                        <span class="helmet-helper">
                          <img class="img-fluid helmet" src="../assets/helmet.png" />
                        </span>
                      </div>
                      <div class="col-8 col-sm-6 col-md-8 col-pad" [formGroupName]="i">
                        <span class="tittle-banner">Datos del Piloto
                          <span style="color:#D92F20">0{{i+1}}</span>
                        </span>
                        <mat-form-field>
                          <input matInput placeholder="Nombre del piloto" formControlName="name" required>
                          <mat-error *ngIf="pilot.controls.name.hasError('required')">El nombre es necesario</mat-error>
                        </mat-form-field>
                        <div class="row">
                          <div class="col">
                            <mat-checkbox color="primary" formControlName="licensed" (change)="changePilotLicense(i)">Licencia de GoKart Mania</mat-checkbox>
                          </div>
                        </div>
                      </div>
                      <a (click)="removePilot(i)">
                        <mat-icon *ngIf="i > 0" color="primary">delete</mat-icon>
                      </a>
                    </div>
                  
                    <!-- start license data -->
                    <div class="row justify-content-center" *ngIf="pilot.controls.licensed.value" [formGroupName]="i">
                      <div class="col-12">
                        <span class="tittle-data">Datos de licencia</span>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <mat-form-field>
                          <input matInput placeholder="Apellido del piloto" formControlName="last_name" required>
                          <mat-error *ngIf="pilot.controls.last_name.hasError('required')">El apellido es necesario</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <mat-form-field>
                          <input matInput placeholder="Correo electrónico del piloto" formControlName="email" required>
                          <mat-error *ngIf="pilot.controls.email.hasError('required')">El correo es necesario</mat-error>
                          <mat-error *ngIf="pilot.controls.email.errors?.email">El correo no es válido</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <mat-form-field>
                          <input matInput placeholder="Nickname del piloto" formControlName="nickname" required>
                          <mat-error *ngIf="pilot.controls.nickname.hasError('required')">El Nickname es necesario</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput [min]="minBirthDayDate" [max]="maxBirthDayDate" [matDatepicker]="picker" formControlName="birth_date" placeholder="Fecha de Nacimiento"
                            required>
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error *ngIf="pilot.controls.birth_date.hasError('required')">La fecha de nacimiento es necesaria</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <mat-form-field>
                          <input matInput placeholder="Código Postal" formControlName="postal_code" maxlength="5" required>
                          <mat-error *ngIf="pilot.controls.postal_code.hasError('required')">El código postal es necesario</mat-error>
                          <mat-error *ngIf="pilot.controls.postal_code.errors?.pattern">El código postal es invalido</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-6 col-md-4">
                        <mat-form-field>
                          <input matInput placeholder="Ciudad" formControlName="city" required>
                          <mat-error *ngIf="pilot.controls.city.hasError('required')">La ciudad es necesaria</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- end license data -->
                  
                  </div>
                  <!-- end pilot info -->
                  
                  <!-- start empty pilot info -->
                  <a (click)="addPilot()">
                    <div class="item-list" *ngFor="let pilot of numbers;">
                      <div class="row justify-content-center">
                        <div class="col-3 text-right" style="white-space: nowrap !important;">
                          <span class="helmet-helper">
                            <img class="img-fluid helmet" src="../assets/gray-helmet.png" />
                          </span>
                        </div>
                        <div class="col-8 col-sm-6 col-md-8 col-pad">
                          <span class="tittle-banner" style="color: gray;">Datos del Piloto</span>
                          <div class="row">
                            <div class="col-12">
                              <span class="empty-data">Nombre del piloto</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <!-- end empty pilot info -->

                  <br>

                  <div class="alert alert-danger error" role="alert" *ngIf="error.show">
                    {{error.text}}
                  </div>

                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end pilot list -->

    <!-- start continue button -->
    <a (click)="submitPilotsForm()">
      <div class="row justify-content-center banner-background">
        <div class="col-11 col-sm-8 col-md-5 text-center">
          <button #pilotFormButton style="visibility: hidden;" type="submit"></button>
          <span class="tittle-banner">Continuar</span>
          <mat-icon style="padding-left:10px; color: white !important;">arrow_forward</mat-icon>
        </div>
      </div>
    </a>
    <!-- end continue button -->

  </form>