hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.tittle-button {
  font-style: italic;
  font-weight: 700;
  padding: 5px;
  color:white;
  margin-bottom: 0px;
}

.button-background {
  cursor: pointer;
}

.tittle-banner {
  font-style: italic;
  font-weight: 400;
  padding: 5px;
  color:white;
  margin-bottom: 0px;
  text-align: center;
}

.banner-background {
  background-color: #B9261A;
}

.banner-img {
  background-color: black;
}

.icon-inst {
  max-width: 200px;
}


.background {
  background-color: black;
}

.instructions-tittle {
  margin-top: 30px !important;
}

.inst-square {
  // padding-right:60px !important;
  // padding-left:60px !important;
}

.ready-banner {
  font-weight: 400 !important;
}

.location {
  color: white;
  font-weight: 700;
  font-style: italic;
}

.location-tittle {
  color: gray;
  font-weight: 400;
  font-style: italic;
}

// B9261A
