<div class="row justify-content-center top-background">
  <div class="col-7 col-sm-5 col-md-3 text-center">
    <a href="http://gokartmania.com.mx/" target="_blank"><img class="img-fluid top-logo" src="../assets/logoBlanco.png"/></a>
  </div>
</div>

<mdb-navbar SideClass="navbar navbar-expand-md navbar-dark red accent-4 sticky-top top-menu">
  <links>
    <ul class="navbar-nav mx-auto menu">
      <li class="nav-item">
          <a routerLink="/instrucciones" class="nav-link waves-light menu-item" mdbWavesEffect>Reservar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light menu-item" mdbWavesEffect>Consultar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light menu-item" mdbWavesEffect>Preguntas frecuentes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link waves-light menu-item" mdbWavesEffect>Contactanos</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
