.top-background {
  background-color: black;
}

.menu {
  font-style: italic;
  font-weight: 700;
}

.nav-item {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.2rem;
}

.menu-item {
  padding:0px !important;
}

.nav-item {
  padding:0px !important;
}
