<div>
  <!-- start calendar -->
  <div class="row" style="padding-bottom: 60px;">
    <div class="col">
      <div class="container">

        <div class="row justify-content-start text-center">
          <div class="col-4" role="group">
            <a class="pointer" [view]="view" [(viewDate)]="viewDate" (click)="decrement()" *ngIf="!prevBtnDisabled">
              <</a>
          </div>
          <div class="col-4">
            <h3 class="month">{{ viewDate | calendarDate:(view + 'ViewTitle'): 'es' | titlecase }}</h3>
          </div>
          <div class="col-4" role="group">
            <a class="pointer" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="increment()" *ngIf="!nextBtnDisabled">
              ></a>
          </div>
        </div>
        <br>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view [locale]="'es'" *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" (beforeViewRender)="beforeMonthViewRender($event)"
            (dayClicked)="dayClicked($event.day)">
          </mwl-calendar-month-view>
        </div>

      </div>
    </div>
  </div>
  <!-- end calendar -->
</div>